.dotfiles
.zhistory
.gitconfig
data/
downloads/
pictures/
src/
.zcompdump
.xinitrc
.wine/
.wget-hsts
.waterfox/
.vim/
.steam*
.ssh/
.rustup/
.pulse-cookie
.pki/
.local/
.gnupg/
.dbus/
.cargo/
.cache/
.bash*
.Xauthority

secrtetPassword.txt
whyAreYouReadingMyGitIgnore.question

.emacs.d/places
.emacs.d/*~
.emacs.d/elpa/
.emacs.d/auto-save-list/
